.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.action-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.form-inline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.form-group {
  margin-bottom: 0;
}

.form-control {
  font-size: 1.25rem;
  padding: 0.5rem;
  border-radius: 0;
  border: 2px solid #ddd;
}

.btn {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0;
}

.btn-outline-primary {
  color: #007bff;
  border-color: #007bff;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}
